<div class="p-6 border-t border-[#4a5a4b]/50 flex gap-3 bg-pine-600/50">
    <button type="button"
            class="zb-controls flex-1 items-center justify-center"
            hx-post="{% url 'cancel_mod_upload' %}"
            hx-trigger="click"
            hx-swap="none">Cancel</button>
    <!-- Previous button only shows after first step -->
    {% if completed|length > 1 %}
        <button type="submit"
                class="zb-controls text-gray-400 flex-1 items-center justify-center hover:text-white transition-colors"
                value="previous"
                name="action">
            <span><ion-icon name="arrow-back" class="align-middle"></ion-icon>
            Previous</span>
        </button>
    {% endif %}
    <!-- Next button only shows if steps remain -->
    {% if remaining|length > 0 %}
        <button :type="$store.dnd.numEmptyGroups > 0 ? 'button' : 'submit'"
            class="zb-controls text-pine-500 flex-1 items-center justify-center bg-gold-400 hover:bg-gold-300 transition-colors"
            value="next"
            {# djlint:off #}
                @click="$store.dnd.numEmptyGroups > 0 ? 
                $dispatch('open-modal', { 
                    endpoint: '{% url 'hx_empty_filegroups_warning' %}',
                    modalTitle: 'Empty File Groups Detected',
                    icon: 'warning',
                    maxWidth: 'max-w-md',
                    hideHeader: true,
                }) : $el.closest('form').submit()"
            {# djlint:on #}
            name="action">
            <span>Next <ion-icon name="arrow-forward" class="align-middle"></ion-icon></span>
        </button>
        <!-- Finish button when no steps left -->
    {% else %}
        <button type="submit"
                class="zb-controls text-pine-500 flex-1 items-center justify-center bg-gold-400 hover:bg-gold-300 transition-colors"
                value="next"
                name="action">
            <span>Finish <ion-icon name="checkmark" class="align-middle"></ion-icon></span>
        </button>
    {% endif %}
</div>
