{% extends "base.html" %}
{% load static %}
{% block title %}Upload{% endblock %}
{% block content %}
    <div class="container"
         hx-trigger="load"
         hx-swap="innerHTML"
         hx-target="#upload-frame"
         hx-get="{% url 'upload_step1' %}"></div>
    <div class="max-w-screen-xl mx-auto flex flex-row gap-8 px-4 py-8 items-start">
        <div id="upload-sidebar"
             class="rounded-2xl rounded-2xl bg-pine-600 backdrop-blur-sm px-4 py-6 border border-pine-300 min-w-[280px] flex-shrink-0 max-h-max">
            {% include "mods/upload/navigation.html" %}
        </div>
        <div id="upload-frame"
             class="rounded-2xl w-full bg-pine-700 border border-pine-300/40 shadow-2xl"></div>
    </div>
{% endblock %}
