{% load static %}
<div class="grid grid-cols-3 md:grid-cols-2 lg:grid-cols-3 gap-6 mx-6 mb-6"
     {% include 'mods/create/pictures/sort_config.html' %}
     x-sort>
    {% if images %}
        {% for image in images %}
            <div id="image-{{ image.id }}"
                 x-data="{ editTitle: false, editDesc: false }"
                 class="bg-pine-draggable-200 border border-granite-200/10 rounded-lg flex flex-col shadow-lg hover:bg-pine-draggable-100 group relative"
                 x-sort:item>
                <!-- top right controls -->
                <div class="absolute top-2 right-2 opacity-0 group-hover:opacity-100 transition-opacity flex gap-2 z-10">
                    <button type="button"
                            x-sort:ignore
                            class="zb-action"
                            @click="$dispatch('edit-image', { id: {{ image.id }} })">
                        <ion-icon name="star" class="text-sm"></ion-icon>
                    </button>
                    <button type="button"
                            x-sort:ignore
                            class="zb-action"
                            hx-get="{% url 'hx_remove_temp_image' image.id %}"
                            hx-target="#image-{{ image.id }}"
                            hx-swap="outerHTML">
                        <ion-icon name="trash" class="text-sm"></ion-icon>
                    </button>
                </div>
                <div id="image-frame"
                     class="border-r border-pine-600/30 hover:cursor-pointer">
                    <img src="/uploads/{{ image.image }}"
                         alt="Image Upload Placeholder"
                         class="w-full rounded-tl-lg rounded-tr-lg object-cover hover:brightness-110 transition-all">
                </div>
                <input x-show="editTitle"
                       type="text"
                       class="mx-3 mt-2 w-full text-sm text-granite-200 focus-ring:none overflow-hidden"
                       x-ref="titleInput"
                       value="{{ image.caption }}"
                       x-sort:ignore
                       @blur="() => { 
                            if ($event.target.value.trim() === '') {
                                editTitle = false;
                                return;
                            }
                        }"
                       @keydown.enter.prevent="$event.target.blur()">
                <span @click="editTitle = true; $nextTick(() => { $refs.titleInput.focus(); })"
                      x-show="!editTitle"
                      class="mx-2 mt-2 text-granite-200 px-3 py-1 bg-pine-600/50 max-w-max rounded-full text-sm cursor-pointer hover:brightness-110"
                      x-sort:ignore>
                    Add Title <ion-icon name="create" class="text-xs"></ion-icon>
                </span>
                <div id="caption" class="px-6 pb-6 text-granite-200 text-sm" x-sort:ignore>
                    <p>
                        {% if image.caption %}
                            {{ image.caption }}
                        {% else %}
                            No caption provided.
                        {% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-span-full text-center text-granite-400 py-12 rounded-lg border border-granite-200/10 bg-pine-600/50 p-6 w-full text-granite-200">
            <ion-icon name="images" class="text-4xl mb-4"></ion-icon>
            <p class="text-sm mx-auto">No images uploaded yet.</p>
        </div>
    {% endif %}
</div>
