{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>{% include 'shared/meta.html' %}</head>
    <body class="bg-pine-800 text-gray-900 font-manrope-400 text-storm-fg">
        {% include 'shared/navigation/navigation.html' %}
        <main class="page-transition">
            <div class="container mx-auto">
                {% block content %}{% endblock %}
            </div>
        </main>
        {% include "shared/widgets/modal.html" %}
        <footer class="bg-pine-900/50 mt-16 h-fit">
            {% include 'shared/footer.html' %}
        </footer>
    </body>
</html>
