<div class="max-w-screen-xl mx-auto p-8">
    <div class="flex flex-col md:flex-row justify-between items-center">
        
        <div class="flex flex-col md:items-start">
            <a href="{% url 'home' %}" class="flex items-center space-x-3 rtl:space-x-reverse mb-4 group">
                <div class="w-10 h-10 rounded-xl bg-gradient-to-br from-gold-500 to-gold-400 flex items-center justify-center transform group-hover:scale-110 transition-transform duration-300">
                    <i class="bi bi-puzzle-fill text-pine-900 text-2xl"></i>
                </div>
                <span class="text-white font-bold text-xl">ZooBerry</span>
            </a>
            <span class="text-gray-400 text-sm mb-2">© {{ current_year }} 2026 ZooBerry.</span>
            <p class="text-gray-400/30 text-sm md:text-left max-w-md">
                ZooBerry is a fan-made platform dedicated to hosting user-created modifications ("mods") for Zoo Tycoon, a video game developed and owned by Microsoft Corporation. We would like to emphasize that this website is not affiliated with or endorsed by Microsoft in any way. Zoo Tycoon and all related trademarks, logos, characters, and other assets are the property of Microsoft Corporation.
            </p>
        </div>
        <div class="flex flex-col space-x-6 mt-4 md:mt-0">
            <a href="#" class="text-gray-400 hover:text-amber-400 transition-colors">About</a>
            <a href="#" class="text-gray-400 hover:text-amber-400 transition-colors">Privacy</a>
            <a href="#" class="text-gray-400 hover:text-amber-400 transition-colors">Terms</a>
            <a href="#" class="text-gray-400 hover:text-amber-400 transition-colors">Contact</a>
        </div>
    </div>
</div>
