{% load static %}
{% load bfilters %}
<div class="px-6 pt-6">
    {% include "mods/upload/progress_bar.html" with nav_item_count=nav_item_count current_nav_index=current_nav_index progress_range=progress_range remainder_range=remainder_range %}
</div>
<form hx-post="{% url 'upload_step3' %}"
      hx-target="#upload-frame"
      hx-swap="innerHTML"
      enctype="multipart/form-data"
      hx-encoding="multipart/form-data"
      x-ref="uploadForm">
    {% csrf_token %}
    <div class="p-6 mt-4 mb-4">
        <div class="flex gap-4 bg-pine-600/15 border border-white/5 rounded-xl p-4 items-center">
            <ion-icon name="information-circle" class="text-4xl text-white/70"></ion-icon>
            <span class="text-white/70">Organize your uploaded files into groups. You can create new groups, rename them, and drag files between groups. Or you can skip this step and leave it up to us. Up to you! Enable file organization below to get started.</span>
        </div>
    </div>
    {% for group in file_groups %}
        <div class="px-6 mb-4">
            <div class="flex flex-col items-center gap-2 mb-2 w-full bg-pine-800/40 rounded-md px-2 py-1 text-sm text-white/80 border border-pine-700/50 focus-within:ring-2 focus-within:ring-gold-500/50 focus-within:border-transparent">
                <div class="flex items-center gap-2 w-full py-2">
                    <input type="text"
                        name="group_name_{{ forloop.counter0 }}"
                        value="{{ group.name }}"
                        class="rounded px-2 py-1 text-sm text-white/80 focus:outline-none w-full"
                        placeholder="Group Name">
                    <button type="button"
                            class="text-pine-300 hover:text-gold-400/70 bg-pine-600/90 rounded px-2 py-1 cursor-pointer border border-600/90 hover:border-pine-200/90">
                        <ion-icon name="arrow-up"></ion-icon>
                    </button>
                    <button type="button"
                            class="text-pine-300 hover:text-gold-400/70 bg-pine-600/90 rounded px-2 py-1 cursor-pointer border border-600/90 hover:border-pine-200/90">
                        <ion-icon name="arrow-down"></ion-icon>
                    </button>
                    {% if file_groups|length > 1 %}
                        <button type="button"
                                class="text-pine-300 hover:text-red-400/50 bg-pine-600/90 rounded px-2 py-1 cursor-pointer border border-600/90 hover:border-pine-200/90"
                                onclick="removeGroup({{ forloop.counter0 }})">
                            <ion-icon name="trash"></ion-icon>
                        </button>
                    {% endif %}
                </div>
                {% for file in group.files.all %}
                    <div class="flex items-center gap-2 w-full bg-pine-800/40 rounded-md px-2 py-1 text-sm text-white/80 border border-pine-700/50 focus:ring-2 focus:ring-gold-500/50 focus:border-transparent hover:bg-pine-800 cursor-pointer">
                        <span class="text-pine-200 px-2 py-1 font-size-md">
                            <ion-icon name="document"></ion-icon>
                        </span>
                        <input type="text" class="text-white/80 bg-transparent border-none focus:outline-none" value="{{ file.filename }}" readonly>
                    </div>
                {% endfor %}
            </div>
            <div class="flex gap-4 flex-wrap"></div>
        </div>
    {% endfor %}
</div>
{% include "mods/upload/actions.html" %}
</form>
