{% load static %}
{% load bfilters %}
<div class="px-6 pt-6">
    {% include "mods/upload/progress_bar.html" with nav_item_count=nav_item_count current_nav_index=current_nav_index progress_range=progress_range remainder_range=remainder_range %}
</div>
<form hx-post="{% url 'upload_step3' %}"
      hx-target="#upload-frame"
      id="uploadForm"
      hx-swap="innerHTML"
      enctype="multipart/form-data"
      hx-encoding="multipart/form-data"
      x-data="toggleGroupManager({ toggled: {{ group_manager_toggled|yesno:'true,false' }} })"
      x-ref="uploadForm">
    {% csrf_token %}
    <div class="p-6 mt-4">{% include "mods/upload/step/partials/group_blurb.html" %}</div>
    {% include "mods/upload/step/partials/group_toggle.html" %}
    {% include "mods/upload/step/partials/group_filegroups.html" with file_groups=file_groups group_formset=group_formset %}
{% include "mods/upload/actions.html" %}
</form>
