{% load static %}
<!-- progress bar -->
<div class="px-6 pt-6">
    {% include "mods/create/progress_bar.html" with nav_item_count=nav_item_count current_nav_index=current_nav_index progress_range=progress_range remainder_range=remainder_range %}
</div>
{% include "mods/create/description/blurb.html" %}
<form hx-post="{% url 'mod_create_description' %}"
        hx-target="#upload-frame"
        hx-swap="innerHTML"
        enctype="multipart/form-data"
        hx-encoding="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    <!-- non-field errors -->
    {% if form.non_field_errors %}
        <div class="px-6 pb-6">
            <div class="bg-red-500/10 border border-red-500/30 rounded-lg p-4 flex items-center gap-2">
                <ion-icon name="alert-circle" class="text-red-400 text-xl"></ion-icon>
                <span class="text-red-400 text-sm">{{ form.non_field_errors.0 }}</span>
            </div>
        </div>
    {% endif %}
    {% comment %} <div x-data="{ showPreview: false }" class="flex flex-col" data-htmx-target="description">
        <div id="editor-actions" class="flex items-center gap-4 px-6 mt-6" x-init="console.log('Description Editor Initialized')">
            <button type="button"
                    class="zb-action rounded-xl"
                    @click="() => { showPreview = !showPreview; console.log('Toggled Preview:', showPreview); }"
                                         
                    >
                <ion-icon :name="showPreview ? 'eye-off' : 'eye'" class="text-sm text-granite-100"></ion-icon>
                <span class="text-sm" x-text="showPreview ? 'Hide Preview' : 'Show Preview'"></span>
            </button>
        </div>
        <div id="text-editor" class="px-6 m-1 mb-6" x-show="!showPreview">
            {{ form.description }}
        </div>
        <div id="preview-frame" class="px-6 mb-6" x-show="showPreview">
            <h3 class="text-lg font-semibold mb-4">Live Preview</h3>
            <div class="bg-pine-700 rounded-lg p-4 prose max-w-none">
            </div>
        </div>
    </div> {% endcomment %}
    
    <div id="description" class="px-6 mb-6 mt-6" data-htmx-target="description">
        {{ form.description }}
    </div>

    <!-- Action Buttons -->
    {% include "mods/create/actions.html" %}
</form>
<style>[x-cloak] { display: none !important; }</style>
