<button type="button"
        class="zb-action"
        hx-post="{% url 'hx_move_filegroup_up' current_index=forloop.counter0 %}"
        hx-trigger="click"
        hx-swap="#upload-frame">
    <ion-icon name="arrow-up"></ion-icon>
</button>
<button type="button"
        class="zb-action"
        hx-post="{% url 'hx_move_filegroup_down' current_index=forloop.counter0 %}"
        hx-trigger="click"
        hx-swap="#upload-frame">
    <ion-icon name="arrow-down"></ion-icon>
</button>
{% if file_groups|length > 1 %}
    <button type="button"
        class="zb-action"
        {# quick check for existing files before deletion #}
        {# djlint:off #}
        @click="
            const groupEl = document.querySelector('[data-group-id=\'{{ group_id }}\']');
            const fileCount = groupEl ? groupEl.querySelectorAll('[x-sort\\:item]').length : 0;
            if (fileCount > 0) {
                if (!confirm('This group contains files. Are you sure you want to delete it?')) {
                    return;
                } else {
                    $dispatch('group-was-deleted', { groupId: {{ group_id }}, wasEmpty: fileCount === 0 });
                    setTimeout(() => {
                        keepForm = false;
                    }, 300);
                    htmx.ajax('POST', '{% url 'hx_remove_filegroup_form' fg_id=group_id %}', {
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                        target: '#upload-frame',
                        swap: 'innerHTML',
                        values: { fg_id: {{ group_id }} },
                    });
                }
            } else {
                $dispatch('group-was-deleted', { groupId: {{ group_id }}, wasEmpty: true });
                setTimeout(() => {
                    keepForm = false;
                }, 300);
                htmx.ajax('POST', '{% url 'hx_remove_filegroup_form' fg_id=group_id %}', {
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    target: '#upload-frame',
                    swap: 'innerHTML',
                    values: { fg_id: {{ group_id }} },
                });
            }
        ">
        {# djlint:on #}
        <ion-icon name="trash"></ion-icon>
    </button>
{% endif %}
