{% load static %}
{% load widget_tweaks %}
<template x-data="{ keepForm: true }" x-if="keepForm">
    <div class="px-6 mb-4">
        {# djlint:off #}
    <div class="flex flex-col items-center shadow-xs gap-2 
                mb-2 w-full bg-pine-800/40 rounded-lg px-2 pt-1 pb-2 
                text-sm text-white/80 border border-white/8 focus-within:ring-2 
                focus-within:ring-gold-500/50 focus-within:border-transparent">
        {# djlint:on #}
        <div class="flex items-center gap-2 w-full pt-2">
            <div class="relative flex flex-col gap-1 w-full">
                <div class="absolute top-0 right-0 flex items-center gap-1">
                    <div class="flex items-center gap-1">
                        {% include "mods/create/filemanager/filegroups/actions.html" with group_id=group.instance.id %}
                    </div>
                    <div class="h-full"></div>
                </div>
                {% comment %} This is required because our form has id and order fields we need to render {% endcomment %}
                {% for hidden in group.hidden_fields %}{{ hidden }}{% endfor %}
                {% comment %} fileground url with file group id (not mod id) {% endcomment %}
                {% include "mods/create/filemanager/filegroups/title.html" with group=group %}
                <div class="text-red-500 text-sm"
                     id="group-name-errors-{{ group.instance.id }}">
                    {% if group.name.errors %}{{ group.name.errors|join:", " }}{% endif %}
                </div>
                {% include "mods/create/filemanager/filegroups/description.html" with group=group %}
                <div class="text-red-500 text-sm"
                     id="group-description-errors-{{ group.instance.id }}">
                    {% if group.description.errors %}{{ group.description.errors|join:", " }}{% endif %}
                </div>
                {% include "mods/create/filemanager/files/base.html" with files=files group_index=group.instance.id %}
            </div>
        </div>
    </div>
</div>
</div>
</template>
