<input type="text"
        name="form-{{ group.instance.id }}-name"
        {% if group.instance.name != None %}value="{{ group.instance.name }}"{% endif %}
        id="Group Name Title"
        class="px-2 py-1 bg-transparent border-none focus:outline-none w-full rounded-xl hover:text-white focus:text-white transition-all duration-200"
        :class="$store.dnd.isDragging ? 'pointer-events-none' : ''"
        placeholder="File Group"
        hx-post="{% url 'hx_validate_filegroup_name' fg_id=group.instance.id %}"
        hx-trigger="input delay:500ms"
        hx-target="#group-name-errors-{{ group.instance.id }}"
        hx-swap="innerHTML"
        autocomplete="off"
        @keydown.escape="$el.blur()"
        @keydown.enter.prevent="$el.blur()"
        hx-on::after-swap="htmx.process(this)">
