<div class="flex flex-col w-full">
    {# djlint:off #}
            <textarea type="text"
                x-data="textFieldExpand({ content: '{{ file.instance.description }}', ref: 'collapsibleSingleFileDesc' })"
                x-ref="collapsibleSingleFileDesc"
                x-init="$nextTick(() => updateTrimLength($refs.collapsibleSingleFileDesc.offsetWidth))"
                x-sort:ignore

                name="fileform-{{ file.instance.id }}-description"
                {% if file.instance.description != None %}value="{{ file.instance.description }}"{% endif %}
                class="px-2 py-1 text-sm text-white/50 focus:outline-none w-full rounded-xl hover:text-white focus:text-white transition-all duration-200 resize-none"
                placeholder="File Description"

                :rows="focused ? 4 : 1"
                :class="focused ? 'h-15' : 'h-11'"
                :class="$store.dnd.isDragging ? 'pointer-events-none' : ''"
                :value="focused ? content : trimDisplayedContent()"

                @focus="expand()"
                @blur="collapse(), updateTrimLength($el.offsetWidth), trimDisplayedContent()"
                @keydown.escape="$el.blur()"
                @keydown.enter.prevent="$el.blur()"
                @input="content = $el.value, updateTrimLength($el.offsetWidth)"

                hx-post="{% url 'hx_validate_singlefile_description' file_id=file.instance.id %}"
                hx-trigger="input delay:500ms"
                hx-target="#file-description-errors-{{ file.instance.id }}"
                hx-swap="innerHTML"
                hx-on::after-swap="htmx.process(this)">
            </textarea>
    {# djlint:on #}
    <div class="text-red-500 text-sm"
         id="file-description-errors-{{ file.instance.id }}">
        {% if file.instance.description.errors %}{{ file.instance.description.errors|join:", " }}{% endif %}
    </div>
</div>
