{# djlint:off #}
x-sort:config="{ 
    forceFallback: true, 
    dragClass: 'file-draggable', 
    chosenClass: 'file-chosen', 
    ghostClass: 'file-ghost', 
    onChoose: (event) => { 
        $store.dnd.isDragging = true; 
        $store.dnd.draggedFileId = event.item.dataset.fileId; 
        $store.dnd.draggedFromGroupId = event.from.dataset.groupId;
    }, 
    onUnchoose: (event) => { 
        $store.dnd.isDragging = false; 
    }, 
    onAdd: (event) => {
        $dispatch('files-state-changed');
        const fgId = event.to.dataset.groupId; 

        htmx.ajax('POST', '{% url 'hx_add_file_to_group' %}', { 
            values: { 
                dragged_id: $store.dnd.draggedFileId, 
                fg_id: fgId, 
                new_index: event.newIndex,
            },
        }); 
    }, 
    onUpdate: (event) => {
        $dispatch('files-state-changed');
        const fgId = event.to.dataset.groupId; 

        htmx.ajax('POST', '{% url 'hx_update_file_order_in_group' %}', { 
            values: { 
                fg_id: fgId, 
                old_index: event.oldIndex, 
                new_index: event.newIndex,
            },
        }); 
    },
}"
{# djlint:on #}
