<div x-data="createModal()"
     x-cloak
     @open-create-modal.window="openModal($event.detail)"
     @close-create-modal.window="closeModal()"
     div
     x-show="isOpen"
     x-transition.opacity
     class="fixed inset-0 z-50 flex items-center justify-center p-4"
     @keydown.escape.window="closeModal()">
    <div class="glass absolute inset-0 bg-black/50" @click="closeModal()"></div>
    <div class="relative w-full max-w-2xl rounded-2xl bg-pine-700 border border-pine-300/40 shadow-2xl"
         @click.stop
         {% comment %}
         Prevent
         closing
         when
         clicking
         inside
         modal
         {% endcomment %}
         x-transition>
        <div class="border-b border-[#4a5a4b]/50 px-6 py-4 flex items-center justify-between bg-pine-600/90 rounded-t-2xl">
            <h2 class="text-2xl font-bold text-white" id="modal-title">Are you sure?</h2>
        </div>
        <div id="modal-content"></div>
    </div>
</div>
</div>
