<div id="files-group-{{ group.instance.id }}"
    x-sort
    x-sort:group="fileGroup"
    x-ref="fileGroup-{{ group.instance.id }}"
    {# djlint:off #}
        x-init="() => {$dispatch('files-state-changed')}"
    {# djlint:on #}
    data-group-id="{{ group.instance.id }}"
    class="transition-all duration-200"
    {# djlint:off #}
        :class="
            $store.dnd.isDragging ? 
            'bg-pine-special-100/10 border-2 border-dashed border-gold-400 p-2 rounded-xl' 
            : 'border-transparent'"
        x-sort:config="{ 
            forceFallback: true, 
            dragClass: 'file-draggable', 
            chosenClass: 'file-chosen', 
            ghostClass: 'file-ghost', 
            onChoose: (event) => { 
                $store.dnd.isDragging = true; 
                $store.dnd.draggedFileId = event.item.dataset.fileId; 
                $store.dnd.draggedFromGroupId = event.from.dataset.groupId;
            }, 
            onUnchoose: (event) => { 
                $store.dnd.isDragging = false; 
            }, 
            onAdd: (event) => {
                $dispatch('files-state-changed');
                const fgId = event.to.dataset.groupId; 

                htmx.ajax('POST', '{% url 'hx_add_file_to_group' %}', { 
                    values: { 
                        dragged_id: $store.dnd.draggedFileId, 
                        fg_id: fgId, 
                        new_index: event.newIndex,
                    },
                }); 
            }, 
            onUpdate: (event) => {
                $dispatch('files-state-changed');
                const fgId = event.to.dataset.groupId; 

                htmx.ajax('POST', '{% url 'hx_update_file_order_in_group' %}', { 
                    values: { 
                        fg_id: fgId, 
                        old_index: event.oldIndex, 
                        new_index: event.newIndex,
                    },
                }); 
            },
        }">
    {# djlint:on #}
    {% for file in files %}
        <template x-data="{keepFile: true}" x-if="keepFile">
            {# djlint:off #}
            <div class="flex items-center gap-3 w-full 
                        bg-pine-draggable-200 rounded-lg px-2 py-1 text-sm text-white/80 
                        border-1 border-pine-draggable-100 focus:ring-2 focus:ring-gold-500/50 
                        focus:border-transparent hover:brightness-110
                        shadow-md hover:shadow-lg"
            {# djlint:on #}
            :class="$store.dnd.isDragging ? 'gap-3 mb-1 bg-pine-800' : 'gap-3 mb-3'"
            id="draggableFile"
            data-file-id="{{ file.instance.id }}"
            x-ref="files"
            x-data="fileDragAndDrop()"
            @dragstart="onDragStart($event, {{ file.instance.id }})"
            @dragend="onDragEnd($event)"
            x-sort:item>
            <span class="text-pine-200 px-2 py-1 font-size-md cursor-grab group"
                  x-sort:handle>
                <i class="bi bi-grip-vertical group-hover:text-gold-400"></i>
            </span>
            <div class="flex flex-col w-full">
                <input type="text"
                       name="fileform-{{ file.instance.id }}-title"
                       class="text-white/50 px-2 py-1 bg-transparent border-none focus:outline-none w-full rounded-xl hover:text-white focus:text-white transition-all duration-200"
                       autocomplete="off"
                       placeholder="{{ file.instance.filename }}"
                       :class="$store.dnd.isDragging ? 'pointer-events-none' : ''"
                       x-sort:ignore
                       hx-post="{% url 'hx_validate_singlefile_title' file_id=file.instance.id %}"
                       hx-trigger="input delay:500ms"
                       hx-target="#file-title-errors-{{ file.instance.id }}"
                       hx-swap="innerHTML"
                       hx-on::after-swap="htmx.process(this)"
                       @keydown.escape="$el.blur()"
                       @keydown.enter.prevent="$el.blur()"
                       {% if file.instance.title != None %}value="{{ file.instance.title }}"{% endif %}>
                <div class="pl-2">
                    <p class="text-white/50 text-xs">{{ file.instance.size|filesizeformat }}</p>
                </div>
                <div class="text-red-500 text-sm"
                     id="file-title-errors-{{ file.instance.id }}">
                    {% if file.instance.filename.errors %}{{ file.instance.filename.errors|join:", " }}{% endif %}
                </div>
            </div>
            <div class="flex flex-col w-full">
                {# djlint:off #}
                        <textarea type="text"
                            x-data="textFieldExpand({ content: '{{ file.instance.description }}', ref: 'collapsibleSingleFileDesc' })"
                            x-ref="collapsibleSingleFileDesc"
                            x-init="$nextTick(() => updateTrimLength($refs.collapsibleSingleFileDesc.offsetWidth))"

                            :rows="focused ? 4 : 1"
                            :class="focused ? 'h-15' : 'h-11'"
                            :class="$store.dnd.isDragging ? 'pointer-events-none' : ''"
                            :value="focused ? content : trimDisplayedContent()"

                            @focus="expand()"
                            @blur="collapse(), updateTrimLength($el.offsetWidth), trimDisplayedContent()"
                            @keydown.escape="$el.blur()"
                            @keydown.enter.prevent="$el.blur()"
                            @input="content = $el.value, updateTrimLength($el.offsetWidth)"

                            name="fileform-{{ file.instance.id }}-description"
                            {% if file.instance.description != None %}value="{{ file.instance.description }}"{% endif %}
                            class="px-2 py-1 text-sm text-white/50 focus:outline-none w-full rounded-xl hover:text-white focus:text-white transition-all duration-200 resize-none"
                            placeholder="File Description"

                            hx-post="{% url 'hx_validate_singlefile_description' file_id=file.instance.id %}"
                            hx-trigger="input delay:500ms"
                            hx-target="#file-description-errors-{{ file.instance.id }}"
                            hx-swap="innerHTML"
                            hx-on::after-swap="htmx.process(this)" x-sort:ignore>
                        </textarea>
                {# djlint:on #}
                <div class="text-red-500 text-sm"
                     id="file-description-errors-{{ file.instance.id }}">
                    {% if file.instance.description.errors %}{{ file.instance.description.errors|join:", " }}{% endif %}
                </div>
            </div>
            <button type="button"
                    class="zb-action-delete"
                    x-sort:ignore
                    @click="() => { 
                        keepFile = false; 
                        htmx.ajax('POST', '{% url 'remove_temp_file' file.instance.id %}', {
                            headers: {'X-CSRFToken': '{{ csrf_token }}'},
                            values: { file_id: {{ file.instance.id }} },
                            onAfterSwap: () => {
                                $dispatch('files-state-changed');
                            }
                        });
                    }">
                {# djlint:on #}
                <ion-icon name="trash"></ion-icon>
            </button>
        </div>
    </template>
{% endfor %}
</div>
<style>[x-cloak] { display: none !important; }

/* specificity so it wins over sortablejs default styles */
.file-draggable.file-draggable {
    opacity: 1.0 !important;
    pointer-events: none;
}

.file-chosen {
    opacity: 0.0 !important;
    i {
        color: --var(--gold-400) !important;
    }
}

.file-ghost {
    opacity: 0.0 !important;
    pointer-events: none;
}

body.sorting {
    user-select: none;
    -webkit-user-select: none;
}

</style>
