<div class="relative flex flex-col gap-1 w-full">
    <div class="absolute top-0 right-0 flex items-center gap-1">
        <div class="flex items-center gap-1">{% include "mods/upload/step/partials/group_actions.html" %}</div>
        <div class="h-full"></div>
    </div>
    {{ group_formset.management_form }}
    {% for group_form, file_forms in file_groups %}
        {{ group_form.name }}
        {{ group_form.description }}
        {% for file_form in file_forms %}
            {% include "mods/upload/step/partials/group_files.html" with file_form=file_form.instance %}
        {% endfor %}
    {% endfor %}
</div>
