<div class="relative flex flex-col gap-1 w-full">
    <div class="absolute top-0 right-0 flex items-center gap-1">
        <div class="flex items-center gap-1">{% include "mods/upload/step/partials/group_actions.html" %}</div>
        <div class="h-full"></div>
    </div>
    {{ group_formset.management_form }}
    {% for group_form, file_forms in file_groups %}
        <input type="text"
            name="{{ group_form.prefix }}-name"
            value="{{ group_form.cleaned_data.name }}"
            class="pl-2 py-1 mr-24 text-sm text-white/80 focus:outline-none min-w-0 rounded-xl hover:bg-gold-400/10"
            placeholder="Group Name">
        <input type="text"
            name="{{ group_form.prefix }}-description"
            value="{{ group_form.cleaned_data.description }}"
            class="px-2 py-1 mt-2 text-sm text-white/80 focus:outline-none w-full rounded-xl hover:bg-gold-400/10"
            placeholder="Group Description">
    {% endfor %}
</div>
