<label
    {# djlint:off #}
    x-init="$watch('toggled', value => {
        if (value) {
            $refs.fileGroups.classList.add('disabled');
        } else {
            $refs.fileGroups.classList.remove('disabled');
        }
    })"
    {# djlint:on #}
    class="w-80 inline-flex cursor-pointer p-4 bg-pine-600/15 border border-white/5 rounded-xl shadow-xs ml-6 mb-4 items-center hover:bg-gold-400/10">
    <input type="checkbox"
           x-model="toggled"
           class="sr-only peer"
           @click="toggled = !toggled"
           hx-post="{% url 'hx_toggle_group_manager' %}"
           hx-trigger="change, () => { console.log('Toggled:', toggled) }">
    <div class="shrink-0 relative w-9 h-5 bg-pine-soft/50 peer-focus:ring-4 peer-focus:ring-gold-400/50 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-buffer after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-pine-500 after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-gold-400">
    </div>
    <div class="ms-2.5 select-none text-white/80">
        <p class="text-sm font-medium text-heading mb-1">Enable File Manager</p>
        <p class="text-sm font-normal text-body">Disabling will save all files under a default group.</p>
    </div>
</label>
