<div class="flex justify-end"
     x-show="icon || !hideHeader"
     x-transition
     x-cloak>
    <button class="text-gray-400 hover:text-gold-400 cursor-pointer hover:bg-pine-600/50 rounded-xl px-2 py-1 mt-2 mr-2 transition-colors"
            @click="$dispatch('close-modal')">
        <ion-icon name="close" size="large"></ion-icon>
    </button>
</div>
<div id="empty-group-modal"
     class="flex flex-col items-center justify-center p-6 space-y-6 text-white mt-[-3rem]"
     {# djlint:off #}
     x-data>
    <ion-icon name="warning" class="text-white-400 w-20 size-[4rem]"></ion-icon>
    <h2 class="text-2xl font-bold">Hey, real quick...</h2>
    <p class="flex gap-4 bg-pine-600 border border-white/10 rounded-xl p-4 items-center">
        You have {{ empty_group_len }} empty file
        {% if empty_group_len == 1 %}
            group.
        {% else %}
            groups.
        {% endif %} Please remove or add files to
        {% if empty_group_len == 1 %}
            this group
        {% else %}
            these groups
        {% endif %}
        before proceeding.
    </p>
    <div class="flex flex-row gap-4">
        <button class="zb-controls items-center justify-center"
                @click="$dispatch('close-modal'); $refs.uploadForm.submit()">
            <i class="bi bi-x-lg mr-3"></i> Cancel
        </button>
        <button class="zb-controls text-pine-500 bg-gold-400 hover:bg-gold-300 transition-colors items-center justify-center"
                @click="$dispatch('close-modal')">
            <i class="bi bi-trash-fill mr-3"></i> Discard
        </button>
    </div>
</div>
