<div id="empty-group-modal" class="flex flex-col items-center justify-center p-6 space-y-6 mt-6 text-white" x-data>
    <p class="mb-4">One or more empty groups were found. Do you want to discard them?</p>
    <div class="flex flex-row gap-4">
        <button class="zb-controls"
                @click="$dispatch('close-modal'); $refs.uploadForm.submit()"><i class="bi bi-x-lg mr-3"></i> Cancel</button>
        <button class="zb-controls text-pine-500 bg-gold-400 hover:bg-gold-300 transition-colors"
                @click="$dispatch('close-modal')"
               ><i class="bi bi-trash-fill mr-3"></i> Discard</button>
    </div>
</div>
