<button type="button"
        class="text-pine-300 hover:text-gold-400/70 bg-pine-600/90 rounded px-2 py-1 cursor-pointer border border-600/90 hover:border-pine-200/90">
    <ion-icon name="arrow-up"></ion-icon>
</button>
<button type="button"
        class="text-pine-300 hover:text-gold-400/70 bg-pine-600/90 rounded px-2 py-1 cursor-pointer border border-600/90 hover:border-pine-200/90">
    <ion-icon name="arrow-down"></ion-icon>
</button>
{% if file_groups|length > 1 %}
    <button type="button"
            class="text-pine-300 hover:text-red-400/50 bg-pine-600/90 rounded px-2 py-1 cursor-pointer border border-600/90 hover:border-pine-200/90"
            onclick="removeGroup({{ forloop.counter0 }})">
        <ion-icon name="trash"></ion-icon>
    </button>
{% endif %}
