<div class="px-6 mb-4">
    <div class="flex flex-col items-center shadow-xs gap-2 mb-2 w-full bg-pine-800/40 rounded-lg px-2 pt-1 pb-2 text-sm text-white/80 border border-white/8 focus-within:ring-2 focus-within:ring-gold-500/50 focus-within:border-transparent">
        <div class="flex items-center gap-2 w-full py-2">{% include "mods/upload/step/partials/group_header.html" %}</div>
        {% for file in group.2 %}
            {% include "mods/upload/step/partials/group_files.html" %}
        {% endfor %}
    </div>
</div>
