<!-- non-field errors -->
{% if form.non_field_errors %}
    <div class="text-red-500 text-sm mt-1">
        {{ form.non_field_errors.0 }}
    </div>
{% endif %}
<div>
    {% for field in form %}
        <div class="mb-4">
            <label class="block text-sm font-medium mb-1 text-white">
                {{ field.label }}
                {% if field.field.required %}<span class="text-red-500">*</span>{% endif %}
            </label>
            {{ field }}
            {% if field.errors %}
                <div class="text-red-500 text-sm mt-1">
                    {{ field.errors.0 }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
