<div x-data="createModal()"
     x-cloak
          @open-modal.window="(event) => { 
          console.log('Received open-modal event with detail:', event.detail);
        openModal({ 
            endpoint: event.detail.endpoint,
            modalTitle: event.detail.modalTitle || 'Modal Title',
        });
     }"

     @close-create-modal.window="closeModal()">
    <!-- Overlay -->
    <div x-show="isOpen"
         x-transition.opacity
         class="fixed inset-0 z-50 flex items-center justify-center p-4"
         @keydown.escape.window="closeModal()">
        <!-- Backdrop -->
        <div class="glass absolute inset-0 bg-black/50" @click="closeModal()"></div>
        <!-- Modal panel -->
        <div class="relative w-full max-w-2xl rounded-2xl bg-pine-700 border border-pine-300/40 shadow-2xl"
             @click.stop
             {% comment %}
             Prevent
             closing
             when
             clicking
             inside
             modal
             {% endcomment %}
             x-transition>
            <!-- Header -->
            <div class="border-b px-6 py-4 flex items-center justify-between bg-pine-800/40 text-white">
                <h2 class="text-xl font-semibold" x-text="modalTitle">Upload Content</h2>
                <button @click="closeModal()" class="text-gray-400 hover:text-gray-600">
                    <ion-icon name="close" size="large"></ion-icon>
                </button>
            </div>
            <div id="modal-content"
                 class="max-h-[90vh] overflow-y-auto"
                 x-ref="modalContent">Loading...</div>
        </div>
    </div>
</div>
